<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artigos - CDT</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header class="header container">
    <div>
      <a href="./">
        <img width="100px" height="100px" src="/img/logo.png" alt="logo">
      </a>
    </div>
    <nav aria-label="primaria">
      <ul class="header-menu">
        <li>
          <a href="/artigos">Artigos</a>
        </li>
        <li>
          <a href="/controledepurga">Controle de Purga
          </a>
        </li>

        <li>
          <a href="/sobre">Sobre o CDT</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="container posts">
    <div class=" postsArtigos">
      <h1>📝 Artigos</h1>
    </div>
    <div class="abaLateral">
      <div class="newsletter">
        <h2>Assine nossa newsletter.</h2>
        <form action="">
          <label for="Nome">Nome</label>
          <input type="Nome">
          <label for="Email">Email</label>
          <input type="Email">
          <div>
            <input type="radio">
            <label for="radio">Eu concordo em receber comunicações</label>
          </div>
          <button>Inscreva-se</button>
        </form>


      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 Central da Solda - CDT</p>


  </footer>


</body>

</html>