

.artigo h1{
  text-align: center;
  margin-bottom: 2rem;
}
.artigo p {
  font-size: 1rem;
  margin-bottom: 1.2rem;

}
.content{
  margin-bottom: 2rem;
}
.content img{
  width: 300px;
  margin: auto;

}
.entryMeta{
  margin-bottom: 1rem;
}
.entryMeta span{
  padding: 0.2rem;
  color: darkgreen;

}

.comentarios{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comentarios h2{
  text-align: center;
  margin-bottom: 2rem;
}
  
.comentarios form{
  display: flex;
  flex-direction: column;
}
.comentarios label{
  display: block;
  margin-bottom: 0.5rem;
}
.comentarios input{
  outline: none;
  padding: 0.4rem 2rem 0.4rem 2rem ;
  margin-bottom: 1rem;
}
.comentarios textarea{
  width: 450px;
  height: 200px;
  margin-bottom: 1rem;
}
.enviarComentario{
  background-color: gray;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media (max-width:1200px) {
  .postArtigo{
    padding: 5rem;
    
  }
  .artigo h1 span {
    font-size: 2rem;
    color: red;
  }
  .artigo p {
    font-size: 1.5rem;
  }

  
}

@media (max-width:850px) {
  .artigo p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 1.8rem;
  }

}

@media (max-width: 576px) {
  .content{
    width: 350px;
    margin: auto;
    padding: 0.5rem;

  }
  .content .entryMeta {
    font-size: 0.8rem;
  }
  .postArtigo{
    padding: 0;
  }
  .content p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

}
@media (max-width: 350px) {

  .content{
    width: 300px;
    padding: 1rem;

  }
  .artigo h1 span {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 1rem;
    line-height: 1rem;
  }

}


