.historia h2{
  margin-bottom: 1rem;
  text-align: center;

}
.historia p{
  font-size: 1.2rem;
  margin-bottom: 1rem;

}
@media (max-width:1000px){
  .historia h2 {
    font-size: 2rem;
  }
  .historia p {
    font-size: 1.5rem;
  }
}

@media (max-width:850px){
  .historia h2 {
    font-size: 2.5rem;
  }
  .historia p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width:576px){
  .historia h2 {
    font-size: 2rem;
  }
  .historia p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

