.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 2rem;

}
.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}