.container{

  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 4rem;

}

button {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}
button:hover {
  background: #555;
}
