.introPurga h1{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  
}
.introPurga p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5rem;
 
}
.controlePurga{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.controlePurga img{
  width: 600px;
  transform: scaleX(-1);

}
.calculadora{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.calculadora h2 {
  margin-bottom: 3rem;
}

.purgaForm{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purgaForm label{
  display: block;
  margin-bottom: 0.5rem;
}
.purgaForm input[type="number"],button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;

}



.cronoResultado{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.timer-container {
  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timer {
  font-size: 3em;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  margin-bottom: 1rem;

}

.purgaForm button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.buttons button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button#startStopBtn {
  background-color: #28a745;
  color: #fff;
}

button#startStopBtn:hover {
  background-color: #218838;
}

button#resetBtn {
  background-color: #dc3545;
  color: #fff;
}

button#resetBtn:hover {
  background-color: #c82333;
}

.resultado{
  display: none;
  width: 100%;
}
.mostrarResultado{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultado h1{
  text-align: center;
  margin-bottom: 2rem;
}

.resultado .resultadoInfo{
  width: 400px;
}
.resultadoInfo ul li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: bold;
}
.resultado ul li span{
  font-weight: 500;
}
.aviso{
  color: red;
  visibility: hidden;

 
}

.modal{
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modalTexto{
  color: white;
  width: 700px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.8); 
   margin: auto;
  font-weight: 700;
  position: relative;

  
}
.modal .modalTexto h2{
  text-align: center;
  margin-bottom: 2rem;
  
}
.modal .modalTexto li{
  margin-bottom: 1rem;
}

.modal .iconX{
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  

}
.ativo{
  visibility: visible;
}


/* Responsividade para o layout */
@media (max-width: 1200px) {
  .introPurga p {
    font-size: 1.4rem;
    line-height: 2rem;
  

  }
  .controlePurga {
    grid-template-columns: 1fr;
  }

  .controlePurga img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 2rem;
  }

  .calculadora {
    max-width: 100%;
    width: 800px;
  }

  .purgaForm {
    max-width: 1200px;
    font-size: 1.5rem;
  }
  .purgaForm label{
    margin-bottom: 1rem;
  }
  .purgaForm input[type="number"], 
  .purgaForm button {
    width: 100%;
    max-width: 100%;
    border-color:black;
    font-size: 1.5rem;
  }
  .purgaForm button{
    margin-top: 1rem;
  }
.cronometro .buttons{
  font-size: 2rem;
}

  .cronoResultado {
    grid-template-columns: 1fr 1fr;
  }
  .resultado h1 {
    font-size: 1.8rem;
  }

  .resultado .resultadoInfo {
    width: 100%;
    max-width: 400px;
    font-size: 1.5rem;
    gap: 2rem;
  }
  .modal{
    max-width: 100%;

  } 
  .modal .modalTexto {
    width: 90%;
    max-width: 600px;
    height: max-content;
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  .introPurga h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .introPurga p {
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
  }

  .controlePurga {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .controlePurga .calculadora h2 {
    font-size: 2rem;
  }

 

  .timer-container {
    width: 100%;
  }

  .resultado .resultadoInfo {
    width: 100%;
    max-width:400px;
  }
  .modal{
    width: 500px;
  }
  .modal .modalTexto{
    font-size: 1.7rem;
  }
}

@media (max-width: 576px) {
  .introPurga p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .calculadora {
    max-width: 100%;
  }
  .controlePurga .calculadora h2 {
    font-size: 1.5rem;
  }
  .calculadora .purgaForm label {
    font-size: 1.2rem;
  }

  .purgaForm input[type="number"], 
  .purgaForm button {
    padding: 5px;
    margin-bottom: 10px;
    max-width: 300px;
    font-size: 1rem;
  }
  .cronoResultado{
    grid-template-columns: 1fr;
  }
  .timer-container {
    padding: 10px;
  }
  .cronometro{
    order: 2;

  }
  .buttons{
    order: 1;
    font-size: 1rem;

  }

  .buttons button {
    
    padding: 8px 15px;
    font-size: 0.5em;
  }
  .modal{
    width: 100%;
  } 
  .modal .modalTexto{
    font-size: 1rem;
  }
  .resultado .resultadoInfo {
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .modal{
    width: 100%;
  } 
  .modal .modalTexto{
    font-size: 0.9rem;
  }
}
